<configuration>
  <system.webServer>

    <directoryBrowse enabled="false" />

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="BlockDirectAccessToServerJs" stopProcessing="true">
          <match url="^server\.js$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access denied" />
        </rule>

        <rule name="StaticContent">
          <match url="^(.*\.(js|css|png|jpg|jpeg|gif|svg|ico|woff|woff2|ttf|eot|otf|txt|xml|json|map))$" />
          <action type="None" />
        </rule>

        <rule name="StaticFilesNoRewrite" stopProcessing="true">
          <match url="^(favicon\.ico|robots\.txt)$" />
          <action type="None" />
        </rule>

        <rule name="NextJsRewrite" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="bin"/>
          <add segment=".git"/>
          <add segment="node_modules"/>
        </hiddenSegments>
      </requestFiltering>
    </security>

    <iisnode 
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;" 
      debuggingEnabled="false"
      node_env="production"
      devErrorsEnabled="false"
      loggingEnabled="false"
    />

    <httpErrors errorMode="Custom" existingResponse="PassThrough">
      <clear />
      <error statusCode="404" responseMode="ExecuteURL" path="/Error/NotFound" />
    </httpErrors>

    <defaultDocument enabled="false" />

  </system.webServer>
</configuration>
